body{
    background-color: greenyellow;
    font-size: 25px;
}
#score{
    font-size: 25px;
    margin-left: 10px;
    float: left;
}
#timer{
    font-size: 25px;
    float: right;
    margin-right: 10px;
}
#subject{
    font-size: 30px;
    color:red;
}
